:root, .dark {
  --body-color: #111111;
  --container-color: #1D1D1D;
  --border-color: #343434;
  --primary-text: #FFFFFF;
  --secondary-text: #ACAEB3;
  --input-text: #ACAEB3;
  --accent-color: #19A853;
  --destructive-color: #FF4F52;
}

.light {
  --body-color: #F4F5F7;
  --container-color: #FFFFFF;
  --border-color: #C8CCD5;
  --primary-text: #111111;
  --secondary-text: #9CA3AF;
  --input-text: #ACAEB3;
  --accent-color: #19A853;
  --destructive-color: #FF4F52;
}

body {
  font-family: "Inter", serif;
}
